body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sastrala-web{
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: #243746;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', 'serif';
}

a,
p,
span {
  font-family: 'Nunito', 'sans-serif';
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
  background: #f8fc46;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
}

.zoom-enter-active,
.zoom-leave-active {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: zoom;
}
.zoom-leave-active {
  animation-direction: reverse;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

.frame-custom {
  width: 100%;
  border: none;
}

.frame-custom::-webkit-scrollbar {
  display: none;
}

.frame-custom {
  -ms-overflow-style: none;
  scrollbar-width: none;
}